*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
SyamtabFileUploaderLog.txt
.idea
/gen
/freeline
freeline.py
local.properties
*.apk
*last_commit_id.txt
DataBindingInfo.java
*.tmp
/freeline_project_description.json